---
import Menu from "../components/Menu.astro";
import TitlePage from "../components/TitlePage.astro";
import CardService from "../components/CardService.astro";

const services = [
  {
    titulo: "Web Development",
    desc: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae recusandae vitae, consequuntur quos neque et impedit eos quas illo quod sint odio aliquid quia perferendis ullam possimus. Natus, alias error.",
  },
  {
    titulo: "Mobile Development",
    desc: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae recusandae vitae, consequuntur quos neque et impedit eos quas illo quod sint odio aliquid quia perferendis ullam possimus. Natus, alias error.",
  },
  {
    titulo: "Consultation",
    desc: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae recusandae vitae, consequuntur quos neque et impedit eos quas illo quod sint odio aliquid quia perferendis ullam possimus. Natus, alias error.",
  },
];
---

<Menu />

<section class="bg-gray-200 pt-20 pb-28 px-8">
  <div class="max-w-6xl mx-auto">
    <TitlePage title="Services" subtitle="Here's what I offer" />
    <div class="mt-24 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20">
      {
        services.map((item) => (
          <CardService title={item.titulo} desc={item.desc} />
        ))
      }
    </div>
  </div>
</section>
