---
import Menu from "../components/Menu.astro";
import TitlePage from "../components/TitlePage.astro";
import CardWorks from "../components/CardWorks.astro";
import Button from "../components/Button.astro";

---

<Menu />

<section class="bg-gray-200 py-20 px-8">

    <div class="max-w-6xl mx-auto">
        <TitlePage title="Works" subtitle="The best of my works" />
        <div class="mt-16 grid grid-cols-1 md:grid-cols-2 gap-14">
            <CardWorks title="Work 1" image="images/descarga1.jfif" desc="">
                
Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deserunt qui obcaecati officia modi, perferendis eius. Libero non cumque nisi, ullam tempora repellat voluptatibus provident dignissimos aperiam temporibus, molestiae dolores?
                <Button title="View more..."/>
            </CardWorks>
            
            <CardWorks title="Work 2" image="images/descarga1.jfif" desc="">
                
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deserunt qui obcaecati officia modi, perferendis eius. Libero non cumque nisi, ullam tempora repellat voluptatibus provident dignissimos aperiam temporibus, molestiae dolores?
                                <Button title="View more..."/>
            </CardWorks>

        </div>
    </div>

</section>
