---
import { string } from 'astro/zod'


export interface props {
    title:string;
    desc:string;
}

const { title, desc } = Astro.props;

---

<div class="relative">
    <div class="absolute z-10 inset-0 bg-gradient-to-r from-purple-500 to-pink-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:rotate-6 sm:sounded-lg">

    </div>

    <div class="relative z-20 bg-white h-full rounded-md shadow-md px-10 py-12">
        <h2 class="pt-3 font-bold text-2xl" >{title}</h2>
        <p class="pt-3">{desc}</p>
    </div>
</div>