---
const menu = "absolute z-20 bottom-5 right-0 left-0 inline-flex space-x-20 justify-center font-bold uppercase tracking-wide text-gray-600"

---

<div class={menu}>
    <a href="/" class="hover:text-pink-600">home</a>
    <a href="/works" class="hover:text-pink-600">works</a>
    <a href="/services" class="hover:text-pink-600">services</a>
    <a href="/contact" class="hover:text-pink-600">contact</a>
</div>